<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>1차 구현</title>
</head>
<body>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content">

        <button type="button" id="add-button">등록</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>내용</th>
                <th>중요 여부</th>
            </tr>

        </thead>
        <tbody id="task-status"></tbody>
    </table>

    <script src="/static/app1.js"></script>
</body>

</html>