<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>도서 대여 기록 조회 페이지</title>
</head>

<body>
    <form>
        <div>
            <label for="borrow-date">대여 날짜</label>
            <input type="date" id="borrow-date">
        </div>
        <div>
            <select id="category">
                <option value="">전체</option>
                <option value="novel">소설</option>
                <option value="essay">에세이</option>
                <option value="science">과학</option>
            </select>
        </div>

        <button type="button" id="reset">초기화</button>
    </form>

    <hr>
    <table>
        <thead>
            <tr>
                <td>대여 날짜</td>
                <td>category</td>
                <td>책 제목</td>
                <td>대여자</td>
            </tr>
        </thead>
        <tbody id="books-status"></tbody>
    </table>

    <script src="/static/app1.js"></script>
</body>

</html>