<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>강의 목록 조회 기능</title>
</head>

<body>
    <select id="level-filter">
        <option value="">전체</option>
        <option value="beginner">초보자</option>
        <option value="intermediate">중견자</option>
    </select>

    <select id="sort-by">
        <option value="">정렬 없음</option>
        <option value="duration">강의 시간순</option>
    </select>

    <ul id="lecture-list"></ul>

    <script src="/static/app5.js"></script>
</body>

</html>