<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>영화 목록 페이지</title>
</head>

<body>
    <form action="/movie" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="year">개봉 연도</label>
            <input type="number" id="year" name="year">
        </div>

        <div>
            <label for="rating">평점</label>
            <input type="number" id="rating" name="rating">
        </div>

        <button type="submit">등록</button>
    </form>
</body>

</html>