/* 1. HTML에서 CSS 파일을 연결하려면 어떤 태그와 어떤 attribute들이 필요한가?
<link rel="stylesheet" href="f2_style.css">
link → 태그
rel → attribute
stylesheet → rel attribute's value
href → attribute
f2_style.css → href attribute's value

2. 모든 h1을 대상으로 하려면 selector는 무엇인가?
h1

3. color는 HTML의 attribute인가, CSS의 property인가?
CSS의 property

4. 18px에서 18은 무엇이고 px는 무엇을 나타내는가?
18size이고 px는 font이다.가 아니고
18은 수치, px는 단위이다. */

h1 {
    color: darkblue;
}
h2 {
    color: green;
}
p {
    font-size: 18px;
}
li {
    font-size: 16px;
}